<h3>
	<a name='publications'></a> Selected Award
</h3>
<div class='award'>
	<ul >   
		<li> 2021 <strong>Honorable Mention of the American College Student Mathematical Modeling Contest </strong> </li>
            <li> 2020 <strong>First prize  of National Undergraduate Mathematical Contest in Modeling </strong> </li>
	 <li> 2020  <strong> National Encouragement scholarship  </strong> </li>
		 <li> 2020 Practice model team of college students of Northwest A&F University </li>
		 <li> 2020 Third prize in the National Mathematics Contest for College Students </li>
		 
	    <li>2019 <strong>First prize  of Asia and Pacific Mathematical Contest in Modeling </strong></li>
	    <li>2019 <strong>First prize in the National Mathematics Contest for College Students </strong> </li>
		<li> 2019  <strong> National Encouragement scholarship  </strong> </li>
		 <li> 2019 Second Prize of the Mathematical Modeling Contest of Northwest A&F University </li>
		<li> 2019 Outstanding Student Cadre of Northwest A & F University </li>
		 <li> 2019 Outstanding Youth League Member of Northwest A&F University </li>
		 <li> 2019 Outstanding student leaders of Northwest A&F University </li>
	</ul>
</div>
