<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/panzhou.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				Sheng Liu & 刘盛
			</h3>
			<p>
			 Member of Image Processing Group, College of Science, Northwest A&F University.
			<!--			My research areas are noncovex/convex optimization, deep learning, compressed sensing, etc.
-->
			</p>&nbsp
			<p>
			</p>&nbsp
			<p>
			<h4>Correspondence address:</h4> 3 Yacheng Road, Yangling Demonstration Zone, Xianyang City, Shaanxi Province, China.</p>
				
			<h4>Research interest :</h4>  Image quality improvemen, hyperspectral imaging, low-rank representation, tensor completion.</p>
<!--
			<a href="mailto: panzhou3 AT gmail DOT com"><i class="fa fa-envelope"></i> &nbsp; panzhou3 AT gmail DOT com</a>
			
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			<a href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
			-->
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %} 
			{% if site.website %}
				<!--&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp-->
                &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
				&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a href="assets/pdf/pan-zhou-CV.pdf">Curriculum Vitae</a>
			{% endif %} 
			<!--&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp-->
                

			
			
	</div>
</div>
