<h3>
	<a name='publications'></a> Funded Projects
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
	</strong>First responsible person </strong> , 基于频率域加权张量核范数的高维图像复原, Undergraduate Innovation and Entrepreneurship Program (2020.06-2022.06), </strong> National Project (No.S202010712032) </strong>.
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
	</strong> Second responsible person </strong> , 基于加权Schatten范数和L1-2空谱全变差正则化的高光谱图像复原, Undergraduate Innovation and Entrepreneurship Program (2019.06-2020-06), Field project (No.X201910712276).   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
	</strong> Second responsible person </strong> , 一类广义Busemann-Petty问题的稳定性研究, Undergraduate Innovation and Entrepreneurship Program (2019.06-2020-06), Field project (No.X201910712183).  </div>
	</div> 
</div> 


<!--
<div class='Academic Service'>
	<ul >   
	    <li>  <strong>Journal refereeing:</strong> IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), IEEE Transactions on Image Processing (<strong>TIP</strong>), IEEE Trans. on Neural Networks and Learning Systems (<strong>TNNLS</strong>), IEEE Transactions on Knowledge and Data Engineering (<strong>TKDE</strong>), IEEE Transactions on Circuits and Systems for Video Technology (<strong>TCSVT</strong>), IEEE Signal Processing Letters (<strong>SPL</strong>).		
		</li>
	    <li> <strong>Conference refereeing:</strong>  IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>, 2018), Neural Information Processing Systems (<strong>NIPS</strong>, 2018),  Association for the Advancement of Artificial Intelligence (<strong>AAAI</strong>, 2019), Asian Conference on Computer Vision (<strong>ACCV</strong>, 2018).}
		</li>
	</ul>
</div>
-->
